# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}
{
  description = "{{ prj_title }}";
{% if "android" in langs %}

  nixConfig = {
    allow-unfree = true;
  };
{% endif %}

  inputs = {
    flake-parts.url = "github:hercules-ci/flake-parts";
    systems.url = "github:nix-systems/default";
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    {% if "rust" in langs %}
    rust-overlay.url = "github:oxalica/rust-overlay";
    crane.url = "github:ipetkov/crane";
    {% endif %}
    devshelves.url = "github:astratagem/devshelves";
  };

  outputs =
    inputs@{
      flake-parts,
      nixpkgs,
      ...
    }:
    let
      {% if "android" in langs %}
      lib = nixpkgs.lib;
      {% endif %}
      systems = import inputs.systems;

      {% if "rust" in langs %}
      # For details on these options, See
      # https://github.com/oxalica/rust-overlay?tab=readme-ov-file#cheat-sheet-common-usage-of-rust-bin
      #
      # Channel of the Rust toolchain (stable or beta).
      rustChannel = "stable";
      # Version (latest or specific date/semantic version)
      rustVersion = "latest";
      # Profile (default or minimal)
      rustProfile = "default";
      {% endif %}
      {% if "android" in langs %}

      # Android SDK configuration
      androidPlatformVersion = "34";
      androidBuildToolsVersion = "34.0.0";
      androidNdkVersion = "26.1.10909125";
      androidSystemImageType = "default";
      {% endif %}
    in
    flake-parts.lib.mkFlake { inherit inputs; } {
      inherit systems;

      imports = [
        inputs.flake-parts.flakeModules.modules
        inputs.flake-parts.flakeModules.partitions
        inputs.devshelves.flakeModules.default
      ];

      perSystem =
        { system, pkgs, ... }:
        {% if "rust" in langs or "android" in langs %}
        let
          {% if "rust" in langs %}
          commonArgs = {
            inherit
              src
              rustChannel
              rustProfile
              rustVersion
              {% if "android" in langs %}
              androidEnv
              androidNdkVersion
              androidPlatformVersion
              androidSdk
              androidSystemImageType
              {% endif %}
              ;
          };

          craneLib = (inputs.crane.mkLib pkgs).overrideToolchain (
            pkgs: pkgs.rust-bin.${rustChannel}.${rustVersion}.${rustProfile}
          );

          # Depending on your code base, you may have to customize the
          # source filtering to include non-standard files during the build.
          # https://crane.dev/source-filtering.html?highlight=source#source-filtering
          src = craneLib.cleanCargoSource (craneLib.path ./.);
          {% endif %}
          {% if "android" in langs %}

          androidEnv = pkgs.androidenv.override { licenseAccepted = true; };
          androidComposition = androidEnv.composeAndroidPackages {
            cmdLineToolsVersion = "11.0";
            platformToolsVersion = "35.0.2";
            buildToolsVersions = [ androidBuildToolsVersion ];
            platformVersions = [ androidPlatformVersion ];
            includeNDK = true;
            ndkVersions = [ androidNdkVersion ];
            includeEmulator = true;
            includeSystemImages = true;
            systemImageTypes = [ androidSystemImageType ];
            abiVersions = [
              "x86_64"
              "arm64-v8a"
            ];
            cmakeVersions = [ "3.22.1" ];
            includeExtras = [ ];
          };

          androidSdk = androidComposition.androidsdk;

          gradleUtils = import ./.config/gradle-utils.nix { inherit pkgs; };
          {% endif %}
        in
        {% endif %}
        {
          _module.args = {
            {% if "rust" in langs %}
            inherit commonArgs craneLib;
            {% endif %}
            {% if "android" in langs %}
            inherit gradleUtils;
            {% endif %}
            pkgs = import nixpkgs {
              inherit system;
              overlays = [ {% if "rust" in langs %}inputs.rust-overlay.overlays.default{% endif %} ];
              {% if "android" in langs %}
              config = {
                allowUnfree = true;
                allowUnfreePredicate =
                  pkg:
                  builtins.elem (lib.getName pkg) [
                    "android-sdk-cmdline-tools"
                    "androidsdk"
                  ];
                android_sdk.accept_license = true;
              };
              {% endif %}
            };
          };
          {% if "android" in langs %}

          packages.patch-gradle-aapt2 = gradleUtils.patchGradleAapt2;
          {% endif %}

          formatter = pkgs.nixfmt-rfc-style;
        };

      partitions.dev = {
        extraInputsFlake = ./.config;
        module =
          { inputs, ... }:
          {
            imports = [
              inputs.git-hooks.flakeModule
              inputs.treefmt-nix.flakeModule
              ./.config/devshells
              ./.config/git-hooks.nix
              ./.config/treefmt.nix
            ];
          };
      };

      partitionedAttrs = {
        checks = "dev";
        devShells = "dev";
      };
    };
}
