# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}

version = 1

[[annotations]]
path = "biome.json"
SPDX-FileCopyrightText = "{{ copyright_name }} <{{ copyright_email }}>"
SPDX-License-Identifier = "{{ license }}"

[[annotations]]
path = ".copier-answers.yml"
SPDX-FileCopyrightText = "{{ copyright_name }} <{{ copyright_email }}>"
SPDX-License-Identifier = "{{ license }}"
