# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}

version = 1

[[annotations]]
path = [
  "**.dist",
  "**.dist.*",
  "**.json",
  "**.lock",
  {% if "php" in langs %}
  "**.neon",
  "**.properties",
  {% endif %}
  "**.yml",
  "**.yaml",
  {% if "js" in langs %}
  "**.d.ts",
  {% endif %}
  "**/.ignore",
  "**/.gitattributes",
  "**/.gitignore",
  "**/.gitkeep",
]
SPDX-FileCopyrightText = "{{ copyright_name }} <{{ copyright_email }}>"
SPDX-License-Identifier = "{{ license }}"
