# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}

[confirm: "Prepare and tag release?"]
[doc: "Prepare and tag a release based on semantic commits"]
[no-cd]
release *ARGS='--auto':
  cog bump {{ARGS}}
