# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}
{
  perSystem =
    { ... }:
    {
      treefmt = {
        projectRootFile = ".git/config";
        programs = {
          nixfmt.enable = true;
          {% if "rust" in langs %}
          rustfmt.enable = true;
          {% endif %}
        };
        settings.formatter = {
          biome = {
            command = pkgs.biome;
            options = [
              "check"
              "--write"
              "--no-errors-on-unmatched"
              "--files-ignore-unknown=true"
            ];
            includes = [
              "*.js"
              "*.mjs"
              "*.cjs"
              "*.ts"
              "*.mts"
              "*.cts"
              "*.d.ts"
              "*.d.mts"
              "*.d.cts"
              "*.jsx"
              "*.tsx"
              "*.json"
              "*.jsonc"
              "*.css"
              "*.vue"
              "*.svelte"
              "*.astro"
              "*.graphql"
              "*.gql"
            ];
          };
        };
      };
    };
}
