# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}
{
  perSystem =
    { ... }:
    {
      treefmt = {
        projectRootFile = ".git/config";
        programs = {
          biome.enable = true;
          nixfmt.enable = true;
          {% if "rust" in langs %}
          rustfmt.enable = true;
          {% endif %}
        };
      };
    };
}
